@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

.container{
    font-family: 'Roboto Mono', monospace;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 40%;
    padding: 30px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: blueviolet;
}

.container > input{
    margin: 20px;
    padding: 10px;
}

.container > label{
    color: white;
}

.container > button{
    padding: 15px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    margin-top: 20px;
    background-color: rgb(200, 142, 253);
    border: none;
    transition: 0.2s;
}

.container > button:hover{
    background-color: rgb(100, 16, 179);
}

.container > button:active{
    transform: scale(0.95);
}


.container > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container > span{
    color: brown;
    font-size: 13px;
    background-color: white;
    margin-bottom: 10px;
}

.container > select{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 93%;
}

.container > select > option{
    color: white;
    background-color: blueviolet;
}

.contenedorBuscador{
    background-color: rgb(101, 68, 131);
    font-size: 18px;
}

.contenedorPaises{
    background-color: bisque;
    font-size: 18px;
}

.lista{
    margin-left: -40px;
    list-style: none;
    font-size: 13px;
}

.lista > li > button{
    border: none;
}

hr{
    border: none;
}

.addButton{
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 5px
}