.paginatorcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.paginatorcontainer > p{
    background-color: black;
    padding: 10px;
    color: white;
    cursor: pointer;
}